*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem =10px
  box-sizing: border-box;

  @media only screen and (max-width: $bp-medium) {
    font-size: 56.25%; // 1 rem = 9px
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 50%; // 1 rem = 8px
  }
}

body {
  font-family: $font-primary;
  font-size: $default-font-size;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.16rem;

  color: $color-primary;
  background-color: $color-grey-light-1;
}
